<div class="container-fluid full-width-container value-added-detail-page">
  <div>
    <div class="pull-right table-title-top-action">

      <a routerLink="/laboratoire" class="btn btn-primary pmd-btn-raised add-btn pmd-ripple-effect pull-left">Liste des
        laboratoire</a>
    </div>
    <!-- Title -->
    <h1 class="section-title" id="services">
      <span>{{pageTitre}}</span>
    </h1><!-- End Title -->
    <!--breadcrum start-->
    <ol class="breadcrumb text-left">
      <li><a href="/">Tableau de bord</a></li>
      <li class="active">{{pageTitre}}</li>
    </ol>
    <!--breadcrum end-->
  </div>
  <!-- form -->
  <div class="section">

    <form id="validationForm" action="" method="post">
      <div class="pmd-card pmd-z-depth">
        <div class="pmd-card-body">
          <div class="group-fields clearfix row">
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Nom Court*
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label>Ville*</label>
                <select class="select-simple form-control pmd-select2">
                  <option></option>
                  <option>Lomé</option>
                  <option>Aneho</option>
                  <option>Sokode</option>
                  <option>Kara</option>

                </select>
              </div>
            </div>
          </div>
          <div class="group-fields clearfix row">
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Nom *
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Quartier
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
          </div>
          <div class="group-fields clearfix row">
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Date création
                </label>
                <input type="date" id="regular1" class="form-control">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Date fermeture
                </label>
                <input type="date" id="regular1" class="form-control">
              </div>
            </div>
          </div>

          <div class="group-fields clearfix row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Telephone*
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="regular1" class="control-label">
                  Email*
                </label>
                <input type="text" id="regular1" class="form-control">
              </div>
            </div>
          </div>
          <div class="group-fields clearfix row">
            <div class="col-lg-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label class="control-label">Address</label>
                <textarea required class="form-control"></textarea>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkbox pmd-default-theme">
                <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                  <input type="checkbox" value="">
                  <span>Actif</span>
                </label>
              </div>
            </div>
          </div>
          <div class="group-fields clearfix row ">
            <div class="pmd-card-actions pull-right">
              <a href="javascript:void(0);" class="btn btn-primary next">Valider</a>
              <a href="javascript:void(0);" class="btn btn-default">Annuler</a>
            </div>
          </div>
        </div>

      </div> <!-- section content end -->
    </form>
  </div>

</div>