<!-- ============================================================== -->
<!-- Container fluid  -->
<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Liste des utilisateurs</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <a href="admin-user-ajouter">
                    <button type="button" class="btn btn-info "><i class="fa fa-plus-circle"></i>Creer un
                        noueau</button></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Exportation de données</h4>
                    <h6 class="card-subtitle">Exporter des données au format Copie, CSV, Excel, PDF et Imprimer</h6>
                    <div ng-if="localStorage.getItem('feedback')=='ok'">
                        <div class="alert alert-success">
                            <i class="fa fa-check-circle"></i> Opération effectuée avec succès
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                    <table id="example23xx" class="table color-table table-hover  table-bordered" cellspacing="0"
                        width="100%">
                        <thead class="bg bg-info text-white">
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let val of utilisateurList'>
                                <td>{{val.nom}}</td>
                                <td>{{val.prenom}}</td>
                                <td>{{val.email}}</td>
                                <td>{{val.adresse}}</td>
                                <td>
                                    <button type="button" (click)="editUtilisateur(val)" title="Modifer"
                                        class="btn btn-secondary btn-circle"><i class="fa fa-pencil"></i> </button>
                                    <button type="button" (click)="openModal(val)" class="btn btn-danger btn-circle"
                                        title="supprimer" data-toggle="modal" data-target="#exampleModal"><i
                                            class="fa fa-times"></i> </button>
                                   <!--  <button type="button" (click)="openModalProfil(val)"
                                        class="btn btn-primary btn-circle" title="Profil" data-toggle="modal"
                                        data-target="#modalProfil"><i class="fa fa-user"></i> </button>
 -->                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <ng-template #delete let-modal> -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Voulez vous effectuer cette opération?
                            {{titre}}</label>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="deleteUtilisateur(utilisateurId)" data-dismiss="modal" type="button"
                    class="btn btn-info">Valider</button>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="modal fade" id="modalProfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Attribuer un profil à l'utilisateur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-sm-12">Selectionnez un profil</label>
                        <div class="col-sm-12">
                            <select ng-model="selectedProfil" 
                                class="form-control form-control-line">
                                <option *ngFor='let val of profilList' [ngValue]="val">{{val.libelle}}</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="deleteUtilisateur(utilisateurId)" data-dismiss="modal" type="button"
                    class="btn btn-info">Valider</button>
            </div>
        </div>
    </div>
</div> -->

<!-- </ng-template> -->