<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h4 class="text-themecolor">Ajouter un utilisateur</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
      <div class="d-flex justify-content-end align-items-center">
        <a href="admin-user" class="btn btn-dark"><i class="fa fa-list"></i>Liste des utilisateurs</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form #form="ngForm" (ngSubmit)="onSubmit()" accept-charset="UTF-8" class="form-material"
        enctype="multipart/form-data">
        <div class="row el-element-overlay">
          <div class="col-lg-1 col-md-2"></div>
          <div class="col-lg-10 col-md-2">
            <div class="card">
              <div class="card-header bg-dark text-center">
                <h4 class="m-b-0 text-white">Utilisateur</h4>
              </div>
              <div class="card-body">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group  m-b-40 ">
                        <label for="nom" class="col-sm-12 control-label">Nom</label>
                        <input class="form-control" [(ngModel)]="utilisateur.nom" required="required" name="nom" type="text">
                        <span class="bar  bold text-danger"></span>
                      </div>
                      <div class="form-group  m-b-40 ">
                        <label for="prenom" class="col-sm-12 control-label">Prénom</label>
                        <input class="form-control" [(ngModel)]="utilisateur.prenom" required="required" name="prenom"
                          type="text">
                        <span class="bar  bold text-danger"></span>
                      </div>
                      <div class="form-group  m-b-40 ">
                        <label for="prenom" class="col-sm-12 control-label">Email</label>
                        <input class="form-control" [(ngModel)]="utilisateur.email" required="required" name="email"
                          type="email">
                        <span class="bar  bold text-danger"></span>
                      </div>
                      <div class="form-group  m-b-40">
                        <label class="col-sm-12">Profil</label>
                        <div class="col-sm-12">
                            <select [(ngModel)]="utilisateur.profil"  name="profil"
                                class="form-control form-control-line">
                                <option *ngFor='let val of profilList' [ngValue]="val">{{val.libelle}}</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group  m-b-40 ">
                        <label for="motDePasse" class="col-sm-12 control-label">Mot de passe</label>
                        <input class="form-control" [(ngModel)]="utilisateur.motDePasse" required="" name="motDePasse"
                          type="text">
                        <span class="bar  bold text-danger"></span>
                      </div>
                      <div class="form-group  m-b-40 ">
                        <label for="motDePasseConfirm" class="col-sm-12 control-label">Confirmez le mot de passe</label>
                        <input class="form-control" [(ngModel)]="utilisateur.motDePasseConfirm" required=""
                          name="motDePasseConfirm" type="text">
                        <span class="bar  bold text-danger"></span>
                      </div>

                      <div class="form-group  m-b-40 ">
                        <label for="dateExpiration" class="col-sm-12 control-label ">Date d'expiration du mot de
                          passe</label>
                        <input class="form-control" id="datepicker1" [(ngModel)]="utilisateur.dateExpiration"
                          required="" name="dateExpiration" type="text">
                        <span class="bar  bold text-danger"></span>
                      </div>
                      <div class="form-group  m-b-40 ">
                        <div class="checkbox pmd-default-theme">
                          <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                            <input [(ngModel)]="utilisateur.actif" name="actif" type="checkbox" value="">
                            <span> Activez le compte</span> </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 col-sm-12">

                  <button type="reset" class="btn btn-inverse pull-right">Annuler</button>
                  <button class=" btn btn-success pull-right" type="submit">Créer</button>
                </div>
              </div>
            </div>


          </div>
          <div class="col-lg-1 col-md-2"></div>
        </div>
      </form>
    </div>

  </div>